[Unit]
Description=Auto GPS position check on boot
After=microxrce-agent.service
Requires=microxrce-agent.service

[Service]
ExecStart=/home/car/run_gps_position_check.sh
Restart=on-failure
RestartSec=3
User=car

[Install]
WantedBy=multi-user.target
